@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
:root { --primary-color: #eec35e; --bg-color: #1a170f; }
body { font-family: 'Fira Code', monospace; background-color: var(--bg-color); color: #eceae5; }
.glow { text-shadow: 0 0 8px var(--primary-color), 0 0 15px var(--primary-color); }
.glow-text { color: var(--primary-color); font-weight: bold; text-shadow: 0 0 5px var(--primary-color); }
/* Efecto CRT Scanlines */
body::after {
    content: " "; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
    background: repeating-linear-gradient(rgba(18, 16, 16, 0) 0, rgba(0, 0, 0, 0.15) 1px, rgba(18, 16, 16, 0) 2px);
    pointer-events: none; z-index: 100;
}
