# 80% Commercial Assets Protection (Private Local Enclave)
SKY_RASCACIELOS/COMMERCIAL_PLUGINS_PORTFOLIO/
SKY_RASCACIELOS/COMMERCIAL_IAAS_APIS/
SKY_RASCACIELOS/COMMERCIAL_NOCODE_LOWCODE/
P7_VAULT/
*.db
*.bin
*.key.env
cacert.pem
juramentado_cacert.pem
juramentado_allsans.pem
juramentado_badcert.pem
juramentado_badkey.pem
juramentado_ffdh3072.pem
juramentado_idnsans.pem
juramentado_keycert.passwd.pem
juramentado_keycert.pem
juramentado_keycert2.pem
juramentado_keycert3.pem
juramentado_keycert4.pem
juramentado_keycertecc.pem
juramentado_nokia.pem
juramentado_nosan.pem
juramentado_nullbytecert.pem
juramentado_nullcert.pem
juramentado_pycacert.pem
juramentado_pycakey.pem
juramentado_secp384r1.pem
juramentado_selfsigned_pythontestdotnet.pem
juramentado_ssl_cert.pem
juramentado_ssl_key.passwd.pem
juramentado_ssl_key.pem
juramentado_talos-2019-0758.pem
cacert.pem
allsans.pem
badcert.pem
badkey.pem
ffdh3072.pem
idnsans.pem
keycert.passwd.pem
keycert.pem
keycert2.pem
keycert3.pem
keycert4.pem
keycertecc.pem
nokia.pem
nosan.pem
nullbytecert.pem
nullcert.pem
pycacert.pem
pycakey.pem
secp384r1.pem
selfsigned_pythontestdotnet.pem
ssl_cert.pem
ssl_key.passwd.pem
ssl_key.pem
talos-2019-0758.pem
email-ca-bundle.pem
objsign-ca-bundle.pem
tls-ca-bundle.pem
cert.pem
sks-keyservers.netCA.pem
juramentado_allsans.pem
juramentado_badcert.pem
juramentado_badkey.pem
juramentado_cacert.pem
juramentado_ffdh3072.pem
juramentado_idnsans.pem
juramentado_keycert.passwd.pem
juramentado_keycert.pem
juramentado_keycert2.pem
juramentado_keycert3.pem
juramentado_keycert4.pem
juramentado_keycertecc.pem
juramentado_nokia.pem
juramentado_nosan.pem
juramentado_nullbytecert.pem
juramentado_nullcert.pem
juramentado_pycacert.pem
juramentado_pycakey.pem
juramentado_secp384r1.pem
juramentado_selfsigned_pythontestdotnet.pem
juramentado_ssl_cert.pem
juramentado_ssl_key.passwd.pem
juramentado_ssl_key.pem
juramentado_talos-2019-0758.pem
vault_master.key
master.key
vault_master.key
.env
master.key
.env
master.key
master.key
master.key
master.key

# --- STRICT SECRET ISOLATION ---
*.env
.env
config/.env
**/ .env
LOGS/
vault_logs/
SKY_RASCACIELOS/telemetry/

# --- STRICT GLOBAL SECURITY EXCLUSIONS ---
*.env
.env
config/.env
ATOM_MASTER_CORE/.env
RascacielosAtom/.env
LOGS/
vault_logs/
SKY_RASCACIELOS/telemetry/
