# =================================================================
# CREDENCIALES DE ACCESO AL EXCHANGE (MODO SEGURO)
# =================================================================
# REQUISITO: Asegúrate de habilitar solo Spot y Futures. RETIROS BLOQUEADOS.
EXCHANGE_API_KEY="e31a68b5-d630-4256-9ae9-e2e045a8d9b8"
EXCHANGE_SECRET_KEY="C7E7E5DB87E55231E1696C4D8BFD78F1"
EXCHANGE_TESTNET="True"